pypdf
python-docx
sentence-transformers
qdrant-client
rank-bm25

fastapi
uvicorn[standard]

python-dotenv

langgraph
langchain
langchain-openai
openai

pytest
httpx

--extra-index-url https://download.pytorch.org/whl/cpu